/* fonts */

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('OpenSans Regular'), local('Montserrat-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold.eot');
	src: local('OpenSans Regular'), local('Montserrat-Regular'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('OpenSans Regular'), local('Montserrat-Regular'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}


/* tags */


h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

span {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  margin: 0;
}




/* global */


.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}


.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}


.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.cont {
  margin-bottom: 50px;
}

.font-text{
  font-family: 'OpenSans';
  font-style: normal;
}

.container__content {
  width: 1630px;
  margin: 0 auto;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

.black_title {
  color: #333;
  font-size: 48px;
  font-weight: 400;
}

/* header */

.header__container {
  background-color: black;

}

.header__content {
  padding: 29px 15px 27px;

}

.logo__header {
  margin-top: 2px;
  margin-right: 179px;
}

.header__nav {
  align-self: center;
  margin-bottom: 5px;
}

.header__list {
  width: 924px;
  justify-content: space-between;
  color: white;
}

.header_link {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.header__search {
  margin-left: auto;
  margin-top: 5px;
}


/* hero */

.hero {
  background: url('../img/hero_bg.jpg'), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.hero__content {
  padding: 146px 15px;
}

.hero__title {
  color: #FFF;
  font-size: 72px;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 20px;
  }

.hero__description {
  width: 540px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 92px;
}

.hero__btn {
  color: #FFF;
  height: 70px;
  padding: 17px 35px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #9D5CD0;
  font-weight: 700;
  font-size: 18px;
}

/* about */

.about__content {
  padding: 39px 15px 19px;
}

.about__title {
  margin-bottom: 25px;
}


.about__description {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 1069px;
}

/* gallery */

.gal {
  background-image: url(../img/gallery_bg.jpg);
}

.gallery__content {
  padding: 80px 15px 77px;
}



.gallery__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.gallery__block {
  align-items: flex-end;
  justify-content: space-between;
}

.gallery__list {
  gap: 50px;
}

.list__img {
  width: 100%;
}

.form__label {
  margin-right: 7px;
}

.form_check {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}




/* catalog */

.catalog__content {
  padding: 39px 15px;
}

.catalog__title {
  margin-bottom: 24px;
}

.catalog__description {
  width: 1080px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 39px;
}

.catalog__list {
  gap: 50px;
  flex-direction: column;
}

.catalog_card {
  align-items: center;
  gap: 50px;
}

.card__img {
  width: 100%;
}

.card__info {
  flex-direction: column;
  gap: 9px;
}

.item__title {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.item__time {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}

.item__description {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* events */

.events__content {
  padding: 0 15px;
}

.events__title {
  margin-bottom: 25px;
}

.events__list {
  gap: 48px;
}

.event__card {
  border: 1px solid #CACACA;
  background: #FFF;
}


.card__content {
  position: relative;
  padding: 6px 50px;
  height: 393px;

}

.card__beginning {
  color: #999;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
}

.card__title {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 11px;
}

.card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.card__link {
  color: #9D5CD0;
  bottom: 43px;
  height: 7.5%;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  position: absolute;
  border-bottom: 1px solid #9D5CD0;
}
/* projects */

.projects {
  padding-bottom: 49px;
  border-bottom: 1px solid #CACACA;
}

.projects__content {
  padding: 29px 15px;
}

.projects__title {
  color: #333;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.project__description {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 1075px;
  margin-bottom: 30px;
}

.project__partners {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 16px;
}

.partners__list {
  gap: 34px;
}

.partners__logo {
  padding: 26px;
  border: 1px solid #CACACA;
}

/* form block */

.contacts__content {
  padding: 34px 15px 35px;
  justify-content: space-between;
  align-items: center;
}

.content__left {
  flex-direction: column;
  margin-bottom: 1px;
}

.contacts__title {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.contacts__address {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.contact__form {
  align-items: center;
  display: flex;
  gap: 20px;
  margin-bottom: 1px;
  margin-left: 1px;
}

.form_input {
  border-radius: 100px;
  border: 1px solid #333;
  width: 270px;
  padding: 23px;
  height: 50px;
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.form_button {
  color: #9D5CD0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  border-radius: 100px;
  border: 2px solid #9D5CD0;
  width: 329px;
  height: 50px;
}


.social__text {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 6px;
  margin-top: 2px;
}


.social_wa {
  margin-right: 16px;

}

/* footer */

.footer {
  background-color: #000;
}

.footer__logo {
  align-self: center;
}

.footer__content{
  justify-content: space-between;
  padding: 47px 15px 40px;
}

.footer__social {
  width: 110px;
  justify-content: space-between;
  margin-bottom: 0px;
}
